.container {
  padding: 20px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.card {
    background-color: rgb(238, 237, 207);
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
.image {
  width: 100%;
  height: auto;
  border-radius: 30px;
  margin-bottom: 10px;
}

.meal {
    color: #e95353;
}

/* button {
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 50px;
} */
 
